*{
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
text-transform: capitalize;


}

body {
background-color:rgb(255, 255, 255);
background: url(../images/background.jpg);
background-size:1500px;
background-repeat: repeat-y;
overflow-x: hidden;


}

/*! Header Başlangıç */
.header
{
background-color: white;
display: flex;
align-items: center;
margin:0 0  ;
position: block;
top: 0;
z-index: 1000;



}

.gonder {
    display: none;
}
.header .navbar {

     padding-left: 150px;
     
     right: -50px;

     
}
.header .navbar a { 
    margin: 0 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);

}
.header .navbar .active,
.header .navbar a:hover {
    background-color: red;
    padding: 10px;
    border-radius: 1rem;
    color: white;
    
   

}






/*! Header Bitiş */
.logo img {
    height: 7rem;
   float: left;
   margin: 0 30%;
   padding-left: 10px;
   padding-right: 10px;


}

/*! Dropdown menü*/
.dropbtn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
}
.dropdown {

    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6bdbd;
    min-width: 10rem;
    z-index: 1;
    border-radius: 2rem;
    
}

.dropdown-content a {
color: black;
padding: 12px 1rem;
text-decoration: none;
display: block;

}
.dropdown-content a:hover {background-color: transparent; border-color: red; }
.dropdown:hover .dropdown-content {display: block;}


/*! Dropdown menü*/
.buttons2 button {
cursor: pointer;
font-size: 1.5rem;
background-color: transparent;
padding-top: -10px ;
color: azure;
}
.buttons2 form {
    float: right;
    padding-left: 70%;
    background-color: red;
    width:100%;
    height: 40px;
    padding-top: 5px;
 
    
}
.buttons2 .aramakutusu {

    border-style: solid;
}

.buttons2 .arama {

    border: #f6bdbd;
    border-style: groove;
    border-width: 4px;
    padding-top: 6px;
}


.footer {
background-color: #f50000;
text-align: center;
color: white;
width: 100%;
bottom: 0;
margin-bottom: 0;
position: fixed;

    
}

#menu-btn {
display: none;
cursor: pointer;
    font-size: 1.2rem;
    margin-left: 5rem;
    background-color: transparent;
    
    


}


@media  only screen and (max-width:1000px) {
    
   .navbar-links {
width: 100%;

   }
   
   .navbar {
flex-direction: column;
align-items: flex-start;

   }
   .navbar-links  a{

    width: 100%;
    flex-direction: column;
   }
    
 
  }


#satır1 {
position: relative;
right: 40px;


}
#satır2 {
    position: relative;
    right: 40px;
}  
.soz {
    
    background-color: rgba(255, 99, 71, 0.5);
    border-radius: 25%;
    width: 400px;
    height: 250px;
    font-size: 40px;
    padding: 0 7%;
    align-items: center;
    margin: 0 35%;
    
}
#sokrates {
position: relative;
right: -150px;
top: -150px;
    width: 150px;
    height: 150px;
}

.brittanica {
width: 500px;
height: 400px;
}

#reklam {
font-size: 50px; 
color: white;
-webkit-text-stroke-width:1px;
-webkit-text-stroke-color:black ;
float: right;
position: relative;
top: -700px;
left: -500px;



}
#reklam1 {
    font-size: 90px; 
    color: white;
    -webkit-text-stroke-width:2px;
    -webkit-text-stroke-color:black ;
    float: right;
    position: relative;
    top: -650px;
    
    
    
    }
    #reklam2 {
        font-size: 50px; 
        color: white;
        -webkit-text-stroke-width:1px;
        -webkit-text-stroke-color:black ;
        float: right;
        position: relative;
        top: -570px;
        left: 620px;
        
        
        
        }
        #reklam3 {
            font-size: 50px; 
            color: white;
            -webkit-text-stroke-width:1px;
            -webkit-text-stroke-color:black ;
            float: right;
            position: relative;
            top: -560px;
            left: 700px;
             }
             
       .yazıarkası {
        background-color: rgba(0,0,0,0.5);
        height: 400px;
        z-index: -10;
        position: relative;
        top: -390px;
        padding: 0;
        margin: 0;
       }
       .foto {
position: relative;
top: -500px;

       }
       .foto img {
border: 20px solid;
border-color: #f50000;
padding: 10px;
margin: 14px;
margin-left: 20px;

       }

       #okumar {

position: relative;
font-size: 25px;
top: -500px;
right: -45px;
color: white;
       }
       #indirmer {

        position: relative;
        font-size: 25px;
        top: -527px;
        right: -530px;
        color: white;
               }
               #bloger {

                position: relative;
                font-size: 25px;
                top: -555px;
                right: -1010px;
                color: white;
                    }
                    .hakkımdalogo {
                        width: 300px;
                        height: 300px;
                    }
                    .hakkımdayazı {
                     font-size: 100px; 
                     position: relative;
                     top: -200px;
                     right: -300px;
                     color: rgb(95, 95, 171);

                    }
                    .dropdown button:hover {
                        background-color: red;
    padding: 10px;
    border-radius: 1rem;
    color: white;
                    }
                    .yorum {
                        color: #000000;
                        background-color: #f6bdbd;
                        width: 100%;
                    }
                    #yorumbutonu {

                        width: 100px;
                        height: 50px;
                        color: white;
                        background-color: #f50000;
                        position: relative;
                        right: -1350px;
                    }
                    .table {
                      border-collapse: collapse;
                        width: 400px;
                      position: relative;
                      right: -500px;

                    }
                    .table tr {
                        border: 2px solid black;
                     height: 40px;
                    
                       }
                       #kitap img{

                        width: 60%;
                        height: 400px;
                }
                .buttons {
                    display: none;
                }
                #kitap h1{
                    margin-top: 100px ;
                    color: aliceblue;
                }

                .tanri img{

                    width: 300px;
                    height: 300px;
                }

                .tanri-isimleri span{

                 margin: 0 5%;
                 padding:0 3.5% ;

                }
                      